- const promotionContent = LANG.promotion;

section.promotion#promotion
    .container
        .promotion__content-wrapper
            .promotion__content
                h3.promotion__title= promotionContent.title
                p.promotion__terms= promotionContent.terms
                p.promotion__subtitle= promotionContent.subtitle
                p.promotion__note= promotionContent.note
            .promotion__img-wrapper
                img&attributes(promotionContent.img).promotion__img
                a(href=mainContent.btn_path).main__button-wrapper.js_rotated-btn.promotion__button-wrapper
                    .main__button
                        .circle
                            svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve")
                                path(id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0" fill="none" stroke-width="40" stroke="#FFDD67")
                                g
                                    text(fill="#000" x="180" dy="5")
                                        textPath(xlink:href="#circlePath")= mainContent.btn_text
                                    text(fill="#000" dy="5")
                                        textPath(xlink:href="#circlePath")= mainContent.btn_text
                    .main__button-arrow
                        svg(class="main__button-img" width="37" height="20" viewBox="0 0 37 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(class="stroke" d="M-6.10352e-05 10.0267H34.3006M34.3006 10.0267L22.7467 1.00021M34.3006 10.0267L22.7467 18.3311" stroke-width="2.10086")